# Environments
.env
.env.*
!.env.example

# Logs and Data
*.log
*.txt
*.pdf
*.zip
*.tar.gz
*.rar
data/
figures_data/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
.venv/
env/
.env/

# Node
node_modules/
dist/
build/
.npm
.yarn

# OS
.DS_Store
Thumbs.db
